.form {

}

.btn-wrapp {
  padding-bottom: 10px;
  margin-top: 15px;

  .btn, .form-submit {
    background: #45d0d0;
    @include background-image(linear-gradient(top, #45d0d0 0%, #309495 100%));
    @include box-shadow(-1px 3px 3px 0px #828282);
    @include border-radius(5px);
    height: 20px;
    font-size: 10px;
    line-height: 21px;
    padding: 0 10px;
    margin: 0;
    letter-spacing: 1px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    border: none;
    @include box-sizing(border-box);

    &:hover, &.active {
      border: 1px solid #cccccc;
      color: #339999;
      background: #fffffa;
      @include background-image(linear-gradient(top, #fffffa 0%, #dde0e2 100%));
    }
  }
}