@font-face {
  font-family: 'ubuntu-bold-webfont';
  src: url('../fonts/ubuntu-bold-webfont.eot');
  src: url('../fonts/ubuntu-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ubuntu-bold-webfont.woff') format('woff'),
  url('../fonts/ubuntu-bold-webfont.ttf') format('truetype'),
  url('../fonts/ubuntu-bold-webfont.svg#ubuntu-bold-webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ubuntu-light-webfont';
  src: url('../fonts/ubuntu-light-webfont.eot');
  src: url('../fonts/ubuntu-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ubuntu-light-webfont.woff') format('woff'),
  url('../fonts/ubuntu-light-webfont.ttf') format('truetype'),
  url('../fonts/ubuntu-light-webfont.svg#ubuntu-light-webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoslab-light-webfont';
  src: url('../fonts/robotoslab-light-webfont.eot');
  src: url('../fonts/robotoslab-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/robotoslab-light-webfont.woff') format('woff'),
  url('../fonts/robotoslab-light-webfont.ttf') format('truetype'),
  url('../fonts/robotoslab-light-webfont.svg#robotoslab-light-webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ubuntu-lightitalic-webfont';
  src: url('../fonts/ubuntu-lightitalic-webfont.eot');
  src: url('../fonts/ubuntu-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ubuntu-lightitalic-webfont.woff') format('woff'),
  url('../fonts/ubuntu-lightitalic-webfont.ttf') format('truetype'),
  url('../fonts/ubuntu-lightitalic-webfont.svg#ubuntu-lightitalic-webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ubuntu-regular-webfont';
  src: url('../fonts/ubuntu-regular-webfont.eot');
  src: url('../fonts/ubuntu-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ubuntu-regular-webfont.woff') format('woff'),
  url('../fonts/ubuntu-regular-webfont.ttf') format('truetype'),
  url('../fonts/ubuntu-regular-webfont.svg#ubuntu-regular-webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ubuntu-medium-webfont';
  src: url('../fonts/ubuntu-medium-webfont.eot');
  src: url('../fonts/ubuntu-medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ubuntu-medium-webfont.woff') format('woff'),
  url('../fonts/ubuntu-medium-webfont.ttf') format('truetype'),
  url('../fonts/ubuntu-medium-webfont.svg#ubuntu-medium-webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'titilliumtext22lxbold';
  src: url('../fonts/titilliumtext22l006-webfont.eot');
  src: url('../fonts/titilliumtext22l006-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/titilliumtext22l006-webfont.woff') format('woff'),
  url('../fonts/titilliumtext22l006-webfont.ttf') format('truetype'),
  url('../fonts/titilliumtext22l006-webfont.svg#titilliumtext22lxbold') format('svg');
  font-weight: normal;
  font-style: normal;
}