$icons: sprite-map('icons/*.png', $spacing: 8px, $layout: 'smart');
//$h-sprites: sprite-map('h-sprites/*.png',$layout: 'vertical', $spacing: 8px);
//$v-sprites: sprite-map('v-sprites/*.png', $layout: 'horizontal', $spacing: 8px);

$experimental-support-for-svg: true;

//width
$width: 320px;

//fonts
$ubuntu: 'ubuntu-regular-webfont';
$ubuntuLight: 'ubuntu-light-webfont';
$ubuntuLightItalic: 'ubuntu-lightitalic-webfont';
$ubuntuBold: 'ubuntu-bold-webfont';
$ubuntuMedium: 'ubuntu-medium-webfont';
$robotoslabLight: 'robotoslab-light-webfont';
$titilliumtext22lxbold: 'titilliumtext22lxbold';